.colored {
    background-color: #d1d1d1 !important;
    color: #ADADAD !important;
}

.colored2 {
    background-color: #d1d1d1 !important;
    color: #ADADAD !important;

    button{
        display: none;
    }
    .ui-row-toggler{
        display: none;
    }
}

.fondonegro .ui-grid-row {
    background-color: #5a5a5a !important;
    margin-bottom: 0px !important;
}